<fieldset>
  <legend></legend>
  <form class="navbar-form navbar-left">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Pesquisar" 
   (input)="filtertitleValue = $event.target.value"/>
    </div>          
  </form>
<table class="table table-striped">
  <thead>
    <tr >
      <td *ngFor='let c of columns'>
        {{c}}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let itens of productsChunks[page] | filterGeneric : [filtertitleValue,'name'] ">
      <td *ngFor='let p of objProps'>        
        <span *ngIf='dateMask.indexOf(p)>-1'> {{itens[p] | date:'dd/MM/yyyy'}}</span>
        <span *ngIf='dateMask[0] !=p'> {{itens[p]}}</span>        
      </td>
      <td>
        <a href="#" (click)='selecionarLinha(itens)' data-toggle="modal" data-target="#myModal" class="card-link" 
        [hidden]='selectButtonHidden' >
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Selecionar</a>
        <a [hidden]='deleteButtonHidden' href="#" (click)='deletarLinha(itens)' data-toggle="modal" class="card-link">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Deletar</a>        
      </td>
    </tr>    
  </tbody>
  <tfoot>
    <tr>
      <td [attr.colspan]="columns.length-1">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            
            <li *ngFor="let n of pages" (click)='paginate(n)'>
              <a href="#">{{n}}</a></li>            
            
          </ul>
        </nav>
      </td>
    </tr>
  </tfoot>
</table>
</fieldset>