<div class="row" >
    <header class="w3-container">
      <h3><b><i class="fa fa-suitcase" aria-hidden="true"></i> Cadastro de Acesso Departamento x Usuário</b></h3>
    </header>    
    <fieldset>
        <form class="navbar-form navbar-left">
          <!-- <div class="form-group">
            <input type="text" class="form-control" placeholder="Pesquisar"
             (input)="filtertitleValue = $event.target.value"/>
          </div> -->
          <button type="submit" class="btn btn-primary">Salvar Seleção</button>
        </form>
      </fieldset>
      <div class="row">
        <fieldset>
          <legend>Atribuição de Departamento a Usuários</legend>        
          <div class="col-md-6">

          <app-ged-grid
              [columns]='["Usuário","Selecionar",""]'
              [objProps]="['name']"
              [dateMask]="['']"
              (selecionar)='editar($event)'
              (remover)='deletarDepto($event)'
              [deleteButtonHidden]='true'
              [datasource]="users">
          </app-ged-grid>
           
          </div>
          <div class="col-md-6">
            <app-ged-grid
              [columns]='["Departamento","Selecionar",""]'
              [objProps]="['name']"
              [dateMask]="['']"
              (selecionar)='editar($event)'
              (remover)='deletarDepto($event)'
              [deleteButtonHidden]='true'
              [datasource]="geddpto">
            </app-ged-grid>        
          </div>
      </fieldset>
    </div>
</div>