<div class="row" >
    <header class="w3-container">
      <h3><b><i class="fa fa-suitcase" aria-hidden="true"></i> Cadastro de Departamentos</b></h3>
    </header>
    <fieldset>      
        <form class="navbar-form navbar-left">      
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Pesquisar" 
             (input)="filtertitleValue = $event.target.value"/>        
          </div>              
          <button class="btn btn-link" (click)='novo();' data-toggle="modal" 
          data-target="#myModal"><i class="fa fa-suitcase" aria-hidden="true"></i> Novo Depto</button>      
        </form>
      </fieldset>
      <app-ged-grid 
        [columns]='["Depto","Descrição","Criação","Owner","",""]'
        [objProps]="['name','descricao','criacao','owner']"
        [dateMask]="['Criacao']"         
        (editar)='editar($event)'
        (deletar)='deletarDepto($event)'
        [datasource]="geddpto | filterGeneric : [filtertitleValue,'name']">
      </app-ged-grid>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{modalAction}}</h4>
  
        </div>
        
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Depto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="depto.name" id='name' name='name' />
              </div>
            </div>
            <div class="form-group">
              <label for="desc" class="col-sm-2 control-label">Descricao</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="depto.descricao" id='desc' name='desc' />
              </div>
            </div>                                      
            <div class="form-group">
                <label for="criacao" class="col-sm-2 control-label">Criação</label>
                <div class="col-sm-10">                  
                  <input type="date" class="form-control"  [(ngModel)]="depto.criacao" id='criacao' name='criacao' />
                </div>
            </div>
            <div class="form-group">
                <label for="owner" class="col-sm-2 control-label">Owner</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" [(ngModel)]="depto.owner" id='owner' name='owner' />
                </div>
            </div>                                      
          </form>        
        </div>
        <div class="modal-footer" [hidden]='!modalState'>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button  type="button" class="btn btn-primary" (click)='salvarEditar()' data-dismiss="modal">Gravar</button>        
        </div>
        <div class="modal-footer" [hidden]='modalState'>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>        
          <button  type="button" class="btn btn-primary" (click)='salvarEditar()' data-dismiss="modal">Atualizar</button>
        </div>
      </div>
    </div>
  </div>